body {
  box-sizing: border-box;
  background-color: red;
}
[class*="col-"] {
  float: left;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 300px) {
  /* For tablets: */
  .col-1 {width: 67%;}
  .col-2 {width: 33%;}
  .col-3 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
    body{
        background-color: blue;}
    .col-1 {width: 33%;}
    .col-2 {width: 33%;}
    .col-3 {width: 33%;}
}


